@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url(https://fonts.googleapis.com/css?family=Oswald:400|Open+Sans:700);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import "compass/css3";



.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background: #43A047;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    color: #4CAF50;
    text-decoration: none;
}
.form .register-form {
    display: none;
}
.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}
.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}
.container .info {
    margin: 50px auto;
    text-align: center;
}
.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}
.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}
.container .info span a {
    color: #000000;
    text-decoration: none;
}
.container .info span .fa {
    color: #EF3B3A;
}
body {
    background: #76b852; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: auto !important;
    width: 1000p
}

/* fontawesome */
[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

body {
    background: #e6e6d8 url('https://dl.dropboxusercontent.com/s/t0gu051d08sei65/bg-retro-noise.png');
    color: #121212;
}

section.text {
    position: absolute;
    width: 100%;
    min-width: 500px;
    text-align: center;
    top: 10%;
    margin-top: -20px;
}

h1, h3 {
    transform: matrix(1, -0.20, 0, 1, 0, 0);
    -ms-transform: matrix(1, -0.20, 0, 1, 0, 0);
    -webkit-transform: matrix(1, -0.20, 0, 1, 0, 0);
}

h1 {
    font-family: "Oswald", Sans-serif, serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 25px;
    text-shadow: 4px 5px #e6e6d8, 6px 7px #c6a39a;
}

h1 span {
    display: inline-block;
    vertical-align: middle;
}

span.star {
    font-size: 10px;
}

h3 {
    font-family: "Open Sans", Sans-serif, serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.1em;
    margin-bottom: 10px;
    position: relative;
}

h3:before, h3:after {
    content: " ";
    position: absolute;
    width: 100px;
    height: 4px;
    border-top: 2px solid #121212;
    border-bottom: 2px solid #121212;
}

h3:before {
    margin: 5px 0 0 -110px;
}

h3:after {
    margin: 5px 0 0 10px;
}
p{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial,Serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
    text-shadow: 4px 5px #e6e6d8, 6px 7px #c6a39a;
    position: center;

}
h2 {
    font-family: "Oswald", Sans-serif, serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 30px;
    text-shadow: 4px 5px #e6e6d8, 6px 7px #c6a39a;
    position: page;
    margin-top: 50px;
    margin-left: 750px ;
    margin-right: 40px ;

}
h5 {
    font-family: "Oswald", Sans-serif, serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 40px;
    text-shadow: 4px 5px #e6e6d8, 6px 7px #c6a39a;
}

h4 {
    font-family: "Oswald", Sans-serif, serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 25px;
    text-shadow: 4px 5px #e6e6d8, 6px 7px #c6a39a;
    margin-left: 40px ;
    margin-right: 40px ;
}
li{
    font-family: "Oswald", Sans-serif, serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 25px;
    text-shadow: 4px 5px #e6e6d8, 6px 7px #c6a39a;
    padding-bottom: auto;
    position: center;
    margin-left: 40px ;
    margin-right: 40px ;

}
section{
    position: page;
}


h6 {
    font-family: "Open Sans", Sans-serif, serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 0.1em;
    margin-bottom: 0px;
    position: relative;
}

h6:before, h6:after {
    content: " ";
    position: absolute;
    width: 100px;
    height: 4px;
    border-top: 2px solid #121212;
    border-bottom: 2px solid #121212;
}

h6:before {
    margin: 5px 0 0 -110px;
}

h6:after {
    margin: 5px 0 0 10px;
}
nav {

    color: #b3b3b3;
    flood-color: darkcyan;
    margin-top: 20px;
    text-space: 10px;

}
#site {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}
div#all {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
section p, section summary {
    margin-right: 10px;
    margin-left: 10px;
    text-align: justify;
}
h7 {
    font-family: "Open Sans", Sans-serif, serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.1em;
    margin-bottom: 10px;
    position: relative;
}

h7:before, h7:after {
    content: " ";
    position: absolute;
    width: 100px;
    height: 4px;
    border-top: 2px solid #121212;
    border-bottom: 2px solid #121212;
}

h7:before {
    margin: 5px 0 0 -110px;
}

h7:after {
    margin: 5px 0 0 10px;
}
article footer {
    clear: right;
    position: page;
}
h8 {
    font-family: "Oswald", Sans-serif, serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 30px;
    text-shadow: 4px 5px #e6e6d8, 6px 7px #c6a39a;
    position: page;
    margin-left: 500px;
    margin-right: 40px;


}
input{
    font-family: "Oswald", Sans-serif, serif;
    text-transform: uppercase;
    margin-top: 15px;
}
fieldset{
    font-family: "Oswald", Sans-serif, serif;
    text-transform: uppercase;
    margin-left: 15px;

}
img{
    margin: auto !important;
}
